---
import { Icon } from 'astro-icon/components';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 not-prose']}>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="py-4">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between py-2 md:py-3">
        <div class="text-sm text-center md:text-left">
          <Fragment set:html={footNote} />
        </div>

        <div class="mt-2 md:mt-0">
          {
            socialLinks?.length ? (
              <ul class="flex justify-center md:justify-end">
                {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                  <li>
                    <a
                      class="text-muted hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center"
                      aria-label={ariaLabel}
                      href={href}
                      target="_blank"
                    >
                      {icon && <Icon name={icon} class="w-5 h-5" />}
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            ) : (
              ''
            )
          }
        </div>
      </div>
    </div>
  </div>
</footer>
